<% title "Question from #{@question.reference}" %>

<p>
  <strong>Writer:</strong>
  <%= @question.writer.name %>
</p>
<% if @question.approved_by %>
<p>
  <strong>Approver:</strong>
  <%= @question.approver.name %>
</p>
<% end %>
<p>
  <strong>Question Type:</strong>
  <%= @question.question_type.name %>
</p>
<p>
  <strong>Question Category:</strong>
  <%= @question.question_category.name %>
</p>
<p>
  <strong>Section:</strong>
  <%= @question.section.name %>
</p>
<p>
  <strong>Reference:</strong>
  <%= @question.reference %>
</p>
<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>
<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>
<p>
  <strong>Keyword Position:</strong>
  <% if @question.keyword == 0 %>
  N/A
  <% else %>
  <%= @question.keyword %>
  <% end %>
</p>
<p>
  <strong>Created On:</strong>
  <%= @question.created_on.strftime("%B %d, %Y (%l:%M%P)") %>
</p>

<!-- only show approval info if the question has been approved -->
<% if @question.approved_by %>
<p>
  <strong>Approved On:</strong>
  <%= @question.approved_on.strftime("%B %d, %Y (%l:%M%P)") %>
</p>
<p>
  <strong>Approval Level:</strong>
  <%= Question::APPROVAL_LEVELS[@question.approval_level] %>
</p>
<p>
  <strong>Approval Reason:</strong>
  <%= @question.approval_reason %>
</p>
<% end %>


<div >
  <%= link_to "Edit", edit_question_path(@question), :class => 'myButton2' %>
  <% if current_user.is_writer? %>
  <%= link_to "View Questions", write_path, :class => 'myButton2' %>
  <% elsif current_user.is_approver? %>
  <%= link_to "View Questions", approve_path, :class => 'myButton2' %>
  <% end %>
  
</div>
